table,tr,td{
    border: 3px solid black;
    border-collapse: collapse;
   
    
}
td{
    padding: 4px;
    align-content: center;
    width: 100px;
    align-content: center;
}
a{
    cursor: pointer;
}
tr{
height: 15px;
}
*{
    padding: 0px;}